* {
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f5f9;
  overflow: auto;
}
/* styling the nav */
nav {
  margin-top: 0;
  min-width: 180px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: white;
  min-height: 70px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
nav a {
  text-decoration: none;
  color: grey;
  white-space: nowrap;
  font-size: 24px;
  margin: 5px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}
.fa-circle-user {
  font-size: 20px;
  margin-right: 8px;
  color: #333333;
}
.new-entries-profile {
  white-space: nowrap;
}

.navLink.active {
  color: black;
  border-bottom: 2px solid black;
}
.logo {
  color: #333333;
}
header {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
  border-radius: 10px;
  border: solid black;
}
header h1 {
  font-size: 32px;
}
header p {
  font-size: 18px;
}
/* styling the articles */
article {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}
.entries-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f1f5f9;
  border-radius: 10px;
}
.entries-container article {
  width: 69%;
  margin: 0 auto;
}

.entries-first-container {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 10px;
  margin: 5px;
}
.entries-second-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 10px;
  margin: 5px;
}
/* footer styling */
footer {
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: grey;
  margin: 5px;
}
.fa-unlock {
  transform: scaleX(-1);
}

.form-grid {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 8px;
  padding: 10px;
  margin: 5px;
}
input[type="text"] {
  width: 100%;
  font-size: 50px;
  border: none;
  padding: 5px;
}
textarea {
  width: 100%;
  min-height: 500px;
  border: none;
  font-size: 24px;
  padding: 10px;
  margin-top: 10px;
}
.left-instructions {
  justify-content: right;
  display: flex;
  align-items: center;
  color: grey;
  width: auto;
  margin-right: 5px;
}
.form-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  background-color: transparent;
}

.btn-style {
  border: 3px solid red;
  font-size: 16px;

  color: red;
}
#dark-mode {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: black;
}
#dark-mode2 {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: black;
}
.save {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: black;
}
.save-entry-1 {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: black;
}
.form-tags {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px;
  width: fit-content;
}
#form {
  margin-bottom: 20px;
}
.tags-container {
  margin: 10px 0;
}
/* vault html css */
.call-to-action {
  text-align: center;
  width: fit-content;
  margin: auto;
}
.call-to-action h2 {
  font-size: 24px;
}
.call-to-action p {
  color: grey;
}
.call-to-action a {
  text-decoration: none;
  color: #333333;
  border-bottom: solid;
}
.border-left {
  border-left: solid black;
  padding-left: 10px;
}
input[type="text"]::placeholder,
textarea::placeholder {
  color: rgb(209, 206, 206);
}
input[type="text"]:focus,
textarea:focus {
  outline: 3px solid black;
}

/* dark mode */
.dark-mode {
  background-color: #121212;
  color: #f1f2f3;
}
.dark-mode .logo {
  color: whitesmoke;
}
.dark-mode nav {
  background-color: #121212;
}
.dark-mode nav a {
  color: whitesmoke;
}
.dark-mode header {
  background-color: transparent;
  border-color: whitesmoke;
}
.dark-mode .entries-first-container {
  background-color: transparent;
}
.dark-mode .entries-container {
  background-color: transparent;
}
.dark-mode .border-left {
  border-color: whitesmoke;
}
.dark-mode input[type="text"] {
  background-color: #121212;
  color: whitesmoke;
}
.dark-mode textarea {
  background-color: #121212;
  color: whitesmoke;
}

.dark-mode input[type="text"]:focus,
.dark-mode textarea:focus {
  outline: 2px solid whitesmoke;
}
.dark-mode .call-to-action a {
  color: whitesmoke;
}
.dark-mode .all-container {
  background-color: transparent;
}
.dark-mode .all-container a {
  color: whitesmoke;
}
.dark-mode article {
  color: whitesmoke;
  background-color: #121212;
  border-color: whitesmoke;
  border: 1px solid whitesmoke;
}
.dark-mode .fa-circle-user {
  color: whitesmoke;
}
.dark-mode .navLink.active {
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}

/* making the page more responsive witth media query and toggle button */

.nav-toggle {
  display: none;
  border: none;
  font-size: 24px;
  background-color: transparent;
}
.all-container {
  display: none;
  flex-direction: column;
  background-color: white;
  font-size: 24px;
  text-align: center;
}
.all-container button {
  color: red;

  margin: 6px auto;
  font-size: 16px;
}
#clear-btn {
  color: red;
  border: 3px solid red;
  font-size: 16px;
}

#clear-btn2 {
  color: red;
  border: 3px solid red;
  font-size: 16px;
}
.all-container a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #333;
  transition: ease 0.5s;
}

.all-container ul {
  padding: 0;
  margin: 0;
}
.all-container li {
  list-style-type: none;
  margin: 8px 0;
}

@media (max-width: 600px) {
  .nav-toggle {
    display: block;
  }
  .main-links,
  .new-entries-profile {
    display: none;
  }
  .form-grid {
    grid-template-columns: 1fr;
  }
  .left-instructions {
    display: none;
  }
  input[type="text"] {
    font-size: 32px;
  }
  textarea {
    font-size: 16px;
    min-height: 250px;
  }
  .all-container.toggle {
    display: flex;
  }
  .entriesM p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
  }
  footer {
    flex-direction: column;
  }
  .form-btn {
    flex-direction: column;
  }
  .form-btn button {
    margin: 2px;
  }
}
