* {
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f5f9;
}
/* styling the nav */
nav {
  min-width: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  z-index: 9999;
  background-color: white;
  min-height: 70px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
nav a {
  text-decoration: none;
  color: grey;
  white-space: nowrap;
  font-size: 24px;
  margin: 5px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
nav li {
  margin: 8px;
}
/*
.btn {
  display: inline-block;
  color: aliceblue;
  background-color: black;
  border-radius: 3px;
  width: auto;
  padding: 0.125rem;
}
*/
.fa-circle-user {
  font-size: 20px;
  margin-right: 8px;
  color: black;
}
.new-entries-profile {
  white-space: nowrap;
}
.navLink {
  transition: color ease 0.5s;
}
.navLink:hover {
  color: black;
}
.navLink.active {
  color: black;
  border-bottom: 2px solid black;
}
.logo {
  color: black;
}
header {
  background-color: white;
  padding: 20px;
  margin: 5px;
}
/* styling the articles */
article {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.entries-first-container {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 10px;
  margin: 5px;
}
.entries-second-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 10px;
  margin: 5px;
}
/* footer styling */
footer {
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: grey;
  margin: 5px;
}
.fa-unlock {
  transform: scaleX(-1);
}
/* vault css */
.entries-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* form styling */
.form-grid {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 8px;
  padding: 10px;
  margin: 5px;
}
input[type="text"] {
  font-size: 50px;
  border: none;
  min-width: 100%;
}
textarea {
  width: 100%;
  min-height: 500px;
  border: none;
  font-size: 16px;
}
.left-instructions {
  justify-content: right;
  display: flex;
  align-items: center;
  color: grey;
  width: auto;
  margin-right: 5px;
}
.form-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  background-color: transparent;
}
.btn-style {
  border: none;
  font-size: 16px;
}
.btn-style:hover {
  background-color: white;
}
.red-hover:hover {
  color: red;
}
.btn-style i {
  margin-right: 5px;
}
.save-entry {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: black;
}
.form-tags {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px;
}
.tags-container {
  margin: 10px 0;
}
/* vault html css */
.call-to-action {
  text-align: center;
  width: fit-content;
  margin: auto;
}
.call-to-action h2 {
  font-size: 24px;
}
.call-to-action p {
  color: grey;
}
.call-to-action a {
  text-decoration: none;
  color: black;
  border-bottom: solid;
}
